################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database1_log.ldf
/Database1_log.ldf
*.ldf
